@import 'tailwindcss';
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-orangeDefault: #ff554d;
  --color-orangeWhite: #f5f3f1;
  --color-orangeHover: #e90a00;
  --color-lightBlack: #15191e;
  --color-greenLight: #92992f;
}
@font-face {
  font-family: 'demo';
  src: url('/fonts/demo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-custom: 'demo', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.steps {
  border: none;
}
.steps .step.step-orange {
  --custom-color-hex: var(--color-orangeDefault);
}

.steps .step.step-custom-color::before {
  background-color: var(--color-orangeDefault);
  border-color: var(--color-orangeDefault);
  border-width: 3px;
  border-style: solid;
  color: white;
  box-sizing: border-box;
}

.steps .step.step-custom-color::after {
  background-color: var(--color-orangeDefault);
  border: none;
}
.steps-primary {
  background-color: var(--color-orangeHover);
}
.step-primary::before,
.step-primary::after {
  background-color: var(--color-orangeHover) !important;
  border-color: var(--color-orangeHover) !important;
}
